<div id="<%= dom_id patrimonio %>">
  <p>
    <strong>Nome:</strong>
    <%= patrimonio.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= patrimonio.descricao %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= patrimonio.placa %>
  </p>

  <p>
    <strong>Data aquisicao:</strong>
    <%= patrimonio.data_aquisicao %>
  </p>

  <p>
    <strong>Ambiente:</strong>
    <%= patrimonio.ambiente_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= patrimonio.funcionario_id %>
  </p>

</div>
