<div id="<%= dom_id movimentacao_patrimonio %>">
  <p>
    <strong>Patrimonio:</strong>
    <%= movimentacao_patrimonio.patrimonio_id %>
  </p>

  <p>
    <strong>Origem:</strong>
    <%= movimentacao_patrimonio.origem_id %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= movimentacao_patrimonio.destino_id %>
  </p>

  <p>
    <strong>Data movimentacao:</strong>
    <%= movimentacao_patrimonio.data_movimentacao %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= movimentacao_patrimonio.funcionario_id %>
  </p>

</div>
